Q1 : Create a list containing the Address of Fingertips.

In [11]:
address="201, Olive Arcade, Chimanlal Girdharlal Rd, opp. Samudra Complex, Navrangpura, Ahmedabad, Gujarat"
type(address)

str

In [13]:
List=address.split(',')
List

['201',
 ' Olive Arcade',
 ' Chimanlal Girdharlal Rd',
 ' opp. Samudra Complex',
 ' Navrangpura',
 ' Ahmedabad',
 ' Gujarat']

Q2 : insert ABCD at 5th place in the address.

In [17]:
List.insert(4,"ABCD")
List

['201',
 ' Olive Arcade',
 ' Chimanlal Girdharlal Rd',
 ' opp. Samudra Complex',
 'ABCD',
 ' Navrangpura',
 ' Ahmedabad',
 ' Gujarat']

Q3 : create a list L1 containing XYZ, ABC, GHI and append it at the beginning of address list.

In [23]:
L1 = ["XYZ","ABC","GHI"]
L1.extend(List)
L1

['XYZ',
 'ABC',
 'GHI',
 '201',
 ' Olive Arcade',
 ' Chimanlal Girdharlal Rd',
 ' opp. Samudra Complex',
 'ABCD',
 ' Navrangpura',
 ' Ahmedabad',
 ' Gujarat']

O4 : Find the minimum value from the list containing the numbers 2.3, 4.445, 3, 5.33, 1.054, 2.5.

In [27]:
lis = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
print(min(lis))

1.054

Q5 : Sort the given data structure (both tuple and list) in decending order containing values 2.3, 4.445, 3, 5.33, 1.054, 2.5.

In [29]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
List.sort(reverse=True)
print(List)

[5.33, 4.445, 3, 2.5, 2.3, 1.054]

Q6 : Create a list which contains the numbers 1,2,4,8,5,3,5,7,4,1,2,6,6,8,2,6. and now find the occurance of the 6 in the list.

In [31]:
List = [1,2,4,8,5,3,5,7,4,1,2,6,6,8,2,6]
print(List.index(6))
print(List.count(6))

11
3

Q7 : print the index of the first occurrence of number 5 in the above list.

In [33]:
List.index(5)

4

Q8 : Sort the above list in ascending order.

In [35]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
List.sort(reverse=False)
print(List)

[1.054, 2.3, 2.5, 3, 4.445, 5.33]

Q9 : Create a tuple having values abc,bcd,cde,def and efg and convert it to List.

In [37]:
tup = ("abc","bcd","cde","def","efg")
lis = list(tup)
lis

['abc', 'bcd', 'cde', 'def', 'efg']

Q10 : Convert a set having values efg,def,cde,bcd and abc to list and sort the list in ascending order.

In [39]:
Set = {"efg","def","cde","bcd","abc"}
StoL = list(Set)
StoL.sort()
StoL

['abc', 'bcd', 'cde', 'def', 'efg']